@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #23242a;
}
.center{
    position: relative;
    width: 370px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}
.center::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    z-index: 1;
    background: linear-gradient(60deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate1 6s linear infinite;
}
.center::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#d9138a,#d9138a);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.sp{
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    inset: 0;    /* It is shorthand prperty used fror top bottom left right*/
}
.sp::before{
    content: '';
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 370px;
    height: 450px;
    z-index: 1;
    background: linear-gradient(60deg,transparent,red,red);
    transform-origin: top left;
    animation: animate1 6s linear infinite;
    animation-delay: -4.5;
}
.sp::after{
    content: '';
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 370px;
    height: 450px;
    z-index: 1;
    background: linear-gradient(60deg,transparent,orange,orange);
    transform-origin: top left;
    animation: animate 6s linear infinite;
    animation-delay: -6s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

form{
    position: absolute;
    inset: 2px;
    border-radius: 50px 5px;
    background: #28292d;
    z-index: 10;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
h2{
    color: #45f3ff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.text{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.text input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
#submit{
    font-size: 20px;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 5px;
    margin-top: 40px;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
}
#submit:active{
    background: linear-gradient(90deg,#45f3ff,#d9138a);
    opacity: 0.8;
}
.text span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.text input:valid ~ span,
.text input:focus ~ span{
    color: #45f3ff;
    transform: translateX(-10px) translateY(-30px);
    font-size: 0.75em;
}
.text i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.text input:valid ~ i,
.text input:focus ~ i{
    height: 44px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    margin: 25px 0;
    font-size: 1em;
    color: #8f8f8f;
    text-decoration: none;
}
.link a:hover,
.link a:nth-child(2){
    color: #45f3ff;
}
.link a:nth-child(2):hover{
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}
